<form action="https://jshirk.us2.list-manage.com/subscribe/post?u=494bbc345ee9ac49815fc27f7&amp;id=96f30fa52e&amp;f_id=006bdae3f0" 
      method="post" 
      id="mc-embedded-subscribe-form" 
      name="mc-embedded-subscribe-form" 
      class="subscribe-form"
      target="_self" novalidate>
    
    <div class="subscribe-container">
        <label for="mce-EMAIL"> </label>
        <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Your Email Address" required>

        <button type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
    </div>

    <!-- Honeypot for bot protection -->
    <div aria-hidden="true" class="hidden-field">
        <input type="text" name="b_494bbc345ee9ac49815fc27f7_96f30fa52e" tabindex="-1" value="">
    </div>
</form>